.wrapper {
    display: flex;
    align-items: center;
    color: var(--text-secondary-50);
}
.vote {
    margin: 0 4px;
}
.vote-up {
    color: var(--secondary);
}
.vote-down {
    color: var(--red);
}