.notification {
    position: relative;
    display: inline-block;
    &::before {
        content: attr(data);
        position: absolute;
        top: -2px;
        right: -2px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        font-size: 1rem;
        font-weight: bold;
        color: var(--white);
        border-radius: 50%;
        background-color: var(--red);
    }
}

.wrapper {
    min-width: 600px;
    padding: 8px 32px;
    h3 {
        color: var(--text-secondary-50);
    }
    .noti-list {
        margin: 16px 0;
        padding-top: 16px;
        height: 100%;
        border-top: 1px solid var(--text-secondary-20);
    }
}
