.wrapper {
    display: flex;
    margin-top: 16px;
    &:last-child {
        position: relative;
    }
    &:last-child::before {
        content: '';
        position: absolute;
        left: -40px;
        top: 20px;
        bottom: 0;
        width: 40px;
        background-color: var(--primary);
    }
}
.side {
    flex: 0 0 40px;
    position: relative;
    margin-right: 16px;
}
.main {
    flex: 1;
}
.divider {
    position: absolute;
    top: 48px;
    left: 18px;
    bottom: 0;
    width: 4px;
    background-color: var(--background);
    border-radius: 16px;
}
.match-parent {
    position: absolute;
    top: 16px;
    left: -34px;
    width: 24px;
    height: 4px;
    background-color: var(--background);
    border-radius: 16px;
}
.content {
    display: inline-block;
    margin-bottom: 4px;
    padding: 8px 16px;
    background-color: var(--background);
    border-radius: 16px;
}
.actions {
    display: flex;
    align-items: center;
    margin-left: 16px;
    button {
        font-size: 14px;
        font-weight: bold;
    }
    * + * {
        margin-left: 16px;
    }
}
