.wrapper {
    padding: 32px;
    text-align: end;
    border-radius: 16px;
    background-color: var(--primary);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
    h4 {
        color: var(--text-secondary-50);
    }
    label {
        font-size: 1.4rem;
        text-align: left;
        cursor: pointer;
    }
}
.switch {
    margin-left: 4px;
    color: var(--secondary);
    font-weight: bold;
}
.text-box {
    padding: 8px 16px;
    background-color: var(--white);
    border: 2px solid var(--gray-50);
    border-radius: 16px;
    &:focus {
        border-color: var(--text-secondary-80);
    }
}
input[type='password']:focus + .password-hint {
    display: inline-block;
}
.password-hint {
    display: none;
    position: absolute;
    top: 8px;
    left: calc(100% + 8px);
    padding: 16px;
    width: 320px;
    font-size: 1.4rem;
    font-style: italic;
    text-align: left;
    background-color: var(--primary);
    border-radius: 16px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
}
.btn-get-code {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
    margin-left: 8px;
    padding: 0 16px;
    width: 112px;
    height: 40px;
    background-color: var(--white);
    border: 2px solid var(--gray-50);
    border-radius: 16px;
}
.disable {
    opacity: 0.7;
    cursor: default !important;
}
