.wrapper {
    padding: 16px 32px 32px;
    max-height: 90vh;
    overflow-y: auto;
    background-color: var(--primary);
    border-radius: 16px;
    &::-webkit-scrollbar-button {
        display: block;
    }
    .header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 0;
    }
    .title {
        font-weight: bold;
        color: var(--text-secondary-50);
    }
    .close {
        position: absolute;
        right: 0;
    }
    .content {
        margin-bottom: 4px;
        font-size: 1.8rem;
        line-height: 1.4;
    }
    .images {
        width: 100%;
        border-radius: 16px;
        box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.25);
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    .comment {
        flex: 1;
        display: inline-block;
        margin-left: 16px;
        padding: 8px 16px;
        background-color: var(--white);
        border: 2px solid var(--gray-50);
        border-radius: 16px;
        &:focus {
            border-color: var(--text-secondary-80);
        }
    }
    .not-logged-in {
        button {
            color: var(--secondary);
            font-weight: bold;
        }
        text-align: center;
    }
}
