.user-actions {
    padding: 0 12px;
}
.notification {
    position: relative;
    display: inline-block;
    &::before {
        content: attr(data);
        position: absolute;
        top: -2px;
        right: -2px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        font-size: 1rem;
        font-weight: bold;
        color: var(--white);
        border-radius: 50%;
        background-color: var(--red);
    }
}
.btn-logout {
    padding: 8px 16px;
    color: var(--red);
    border-radius: 8px;
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}