.notification {
    position: relative;
    display: inline-block;
    &::before {
        content: attr(dataNewNotification);
        position: absolute;
        top: -2px;
        right: -2px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        font-size: 1rem;
        font-weight: bold;
        color: var(--white);
        border-radius: 50%;
        background-color: var(--red);
    }
}