.wrapper {
    padding: 16px 32px 32px;
    max-height: 90vh;
    overflow-y: auto;
    background-color: var(--primary);
    border-radius: 16px;
    &::-webkit-scrollbar-button {
        display: block;
    }
}
.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}
.title {
    font-weight: bold;
    color: var(--text-secondary-50);
}
.close {
    position: absolute;
    right: 0;
}
