.header {
    margin-bottom: 16px;
    padding: 16px 32px;
    background-color: var(--primary);
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}
.highlight {
    font-weight: bold;
    color: var(--secondary);
}
