.wrapper {
    margin: 0 32px 32px;
    padding: 32px;
    background-color: var(--primary);
    border-radius: 16px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}
.header {
    display: flex;
    margin-bottom: 16px;
    .info {
        flex: 1;
        margin: 0 16px;
    }
    .name {
        font-size: 2rem;
        line-height: initial;
        color: var(--text-secondary-80);
    }
    .time {
        font-size: 1.4rem;
        font-weight: normal;
        color: var(--text-secondary-50);
    }
}
.title {
    margin-bottom: 8px;
    font-size: 2rem;
}
.content {
    font-size: 1.6rem;
    font-weight: normal;
}