.wrapper {
    padding: 16px;
    background-color: var(--primary);
    &:nth-child(2n + 1) {
        background-color: var(--background);
    }
}
.content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    font-size: 1.8rem;
    line-height: 1.4;
    white-space: pre-wrap;
}
.delete {
    color: var(--red);
}
.ignore {
    color: var(--secondary);
}
