.wrapper {
    padding: 32px;
    text-align: end;
    border-radius: 16px;
    background-color: var(--primary);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
    h4 {
        color: var(--text-secondary-50);
    }
    .switch {
        margin-left: 4px;
        color: var(--secondary);
        font-weight: bold;
    }
    label {
        font-size: 1.4rem;
        text-align: left;
        cursor: pointer;
    }
    .text-box {
        padding: 8px 16px;
        background-color: var(--white);
        border: 2px solid var(--gray-50);
        border-radius: 16px;
        &:focus {
            border-color: var(--text-secondary-80);
        }
    }
}