.normal {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.25);
}
.smaller {
    position: absolute;
    left: 50%;
    height: 100%;
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.25);
    transform: translateX(-50%);
    &.isVertical {
        left: 0;
        top: 50%;
        width: 100%;
        height: unset;
        transform: translateY(-50%);
    }
}
.remaining {
    position: absolute;
    top: 0;
    left: 6px;
    right: 6px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
