$spacers: (
  0: 0,
  1: 4px,
  2: 8px,
  3: 16px,
  4: 32px,
  5: 48px,
);
$border-radius-sm: 4px;
$border-radius: 8px;
$border-radius-lg: 16px;
$box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 5%);
$box-shadow-lg: 0 2px 8px 0 rgba(0, 0, 0, 25%);
@import '~bootstrap/scss/bootstrap';