@import url('https://use.typekit.net/jex5mza.css');
:root {
    // Colors
    --primary: #fff;
    --secondary: #8dc27d;
    --red: #ff4154;
    --yellow: #ffc107;
    --background: #f8f8f8;
    --text-color: #404040;
    --black: #000000;
    --white: #ffffff;
    --gray-0: #d3d3d8;
    --gray-50: #a7a7b1;
    --text-secondary-20: #c1c1c8;
    --text-secondary-50: #6b6b6b;
    --text-secondary-80: #4b4b4b;

    // Sizes
    --header-height: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
    text-rendering: optimizeSpeed;
    background-color: var(--background);
}

input,
button,
[tabindex] {
    font-family: sans-serif;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: transparent;
}

textarea {
    resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

a {
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

ul {
    list-style-type: none;
}

label {
    cursor: pointer;
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--text-secondary-20);
    &:hover {
        background: var(--gray-50);
    }
}
