.wrapper {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--primary);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
}
.inner {
    align-items: center;
    height: var(--header-height);
}
